#header h1{
    color: chocolate;
}
#header h2{
    color: #567398; 
}

#header{
    background-color: antiquewhite;
    background: antiquewhite /*pojedyncze background umożliwia wrzucanie nie tylko kolorów ale innych opcji */
}

